@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h1>
    Admin Dashboard
</h1>


<div class="card">

    <h2>
        Total Posts
    </h2>


    <h1>
        @ViewBag.TotalPosts
    </h1>


</div>