<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - KnowledgeHub</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                KnowledgeHub
            </a>

            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Home"
                           asp-action="Index">
                            Home
                        </a>
                    </li>

                   
                    </li>

                    <li class="nav-item">
                        <a class="btn btn-primary ms-3"
                           asp-controller="Admin"
                           asp-action="Login">
                            Admin
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </nav>

    <main class="container mt-4">

        @RenderBody()

    </main>

    <footer class="bg-dark text-white text-center p-3 mt-5">

        <p class="mb-0">
            © @DateTime.Now.Year KnowledgeHub. All Rights Reserved.
        </p>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>